@import 'mixins';
@import 'vars';

@include main;

header, footer {
    @include clearfix;
}

header {
    height: 10%;
    background-color: white;
    padding: 0.5em;
    @include clearfix;

    .navigacija1 {
        float: left;
        ul {
            list-style: none;
            li { 
                display: inline-block;
                margin-left: 2em;
                a {
                    text-decoration: none;
                    text-transform: uppercase;
                    line-height: 3em;
                    color: $crna;

                    &:hover {
                        background-color: $crna;
                        color: $svetlosiva;
                    }
                }
            }
        }
    }
    .navigacija2 {
        float: right;
        ul {
            list-style: none;
            li {
                display: inline-block;
                margin-right: 2em;
                a {
                    text-decoration: none;
                    text-transform: uppercase;
                    line-height: 3em;
                    color: $crna;

                    &:hover {
                        background-color: $crna;
                        color: $svetlosiva;
                    }
                }
            }
        }
    }
    img {
        width: 2%;
    }
}

.prva {
    height: 100vh;
    background-image: url(../slike/hero.jpg);
    background-size: cover;

    &:hover {
        background-color: $crna;
    }

}

#knjige {
    background-color: $svetlosiva;
    text-align: center;
    padding: 4em 3em;
    @include clearfix;

    h2 {
        padding: 2em;
        text-transform: uppercase;
        font-weight: bolder;
    }

    .book {
        width: 30%;
        float: left;
        text-align: center;

        
        img {
            width: 10%;
        }

        h3 {
            text-align: center;
            color: $narandzasta; 
        }

        &:hover {
            background-color: $crna;

            img {
            }
            h3 {
                color: white;
            }
            .paragraf {
                color: $narandzasta
            }
            p {
                color: white;
            }
        }
    }
}

.podaci {
    h2 {
		text-align: center;
		text-transform: uppercase;
        font-size: 2em;
        padding: 1em;
    }
    p {
		text-align: center;
		color: $narandzasta;
		font-size: 1.2em;
    }

    .kontakt {
        padding: 4em 7em;
    
    .forma {
		float: left;
		width: 100%;
		background: $svetlosiva;
		border-radius: 6px;
	    display: block;
	    margin: 20px auto;
        padding: 20px;
        border-bottom: $crna;

        .nabrajanje {
            float: left;
	    	width: 6%;
	    	border-radius: 3px;
		    color: $crna;
		    height: 50px;
		    margin: 10px 0;
            padding-left: 20px;
            background: white;
        }

        .contact {
	    	float: left;
	    	width: 30%;
	    	border-radius: 3px;
	    	border: none;
		    color: $crna;
		    height: 50px;
		    margin: 10px 0;
            padding-left: 20px;
            border: black;
        }
        .contact[name='contact_email'] {
            float: right;
            width: 100%;
        }
        textarea {
	    	float: left;
	    	width: 100%;
	    	border-radius: 3px;
	    	border: none;
		    color: $svetlosiva;
		    padding: 20px;
		    margin: 10px 0;
		    resize: none;
	    }
    }

    a {
        background-color: $narandzasta;
        padding: 1em 42em;
    }
}
}

    